git+https://github.com/BobryTeam/trend-data.git@pip-deps
git+https://github.com/BobryTeam/metrics.git@pip-deps
git+https://github.com/BobryTeam/events.git@pip-deps
git+https://github.com/BobryTeam/microservice.git@pip-deps